@font-face {
    font-family: "silka";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../../../../../apps/web/src/app/fonts/SilkaRegular.woff2') format('woff2'), url('../../../../../apps/web/src/app/fonts/SilkaRegular.woff') format('woff');
}

@font-face {
    font-family: "silka";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('../../../../../apps/web/src/app/fonts/SilkaBold.woff2') format('woff2'), url('../../../../../apps/web/src/app/fonts/SilkaBold.woff') format('woff');
}

:root {
    --font-silka: "silka";
}
